# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build
target

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Umi
.umi
.umi-production
.umi-test

# IDE
.idea
.vscode
*.swp
*.swo
*~

workspace

package-lock.json
