.air-home-container {
  .air-home-top {
    height: 160px;
    background-color: #f0f2f5;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 8px;

    .air-home-top-user {
      display: flex;
      align-items: center;
      padding-left: 36px;
      height: 100%;

      .air-home-top-welcome {
        font-size: 28px;
        font-weight: 400;
        color: #222;
        margin-left: 16px;
      }
    }
  }
}
