.head-function-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;

  .head-function-menu-inner {
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #ddd;
    }
  }
}

.head-function-layer {
  position: relative;
  top: -8px;
  left: 8px;
  width: 320px;
  height: 380px;
  padding: 24px;
  background: #fefefe;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
